<header>
    <nav>
        <div class="btns">
            <button>ابدأ</button>
            <button>تسجيل الدخول</button>
            <select>
                <option>Languages</option>
                <option>English</option>
                <option>Francais</option>
                <option>Arabic</option>
            </select>
        </div>
        <div class="logo">
            <img src="https://youcan.shop/images/home_page_images/youcan-logo-white.png" alt="logo">
        </div>
    </nav>
    <div dir="rtl" lang="ar">
                <h1 class="title">فرص التدريب في YouCan</h1>
                <button class="btn" style="background-color: #1FBADF;">انضم إلى فريق YouCan الآن</button>
    </div>
</header>
