<header>
        <nav>
            <div class="btns">
                <button>ابدأ</button>
                <button>تسجيل الدخول</button>
                <select>
                    <option>Languages</option>
                    <option>English</option>
                    <option>Francais</option>
                    <option>Arabic</option>
                </select>
            </div>
            <div class="logo">
                <img src="https://youcan.shop/images/home_page_images/youcan-logo-white.png" alt="logo">
            </div>
        </nav>
        <div dir="rtl" lang="ar">
                    <h1 >اتصل بنا</h1>
                    <p >فريق دعم متاح 24 ساعة/ 7 أيام لمساعدتك والإجابة عن جميع أسئلتك لتحقيق المزيد من النجاح. </p>
        </div>
    </header>
