.contact{
    width:896px;
    margin-left:15%;
    height:712px;
    background-color:#FFFF;
    margin-top:-4rem;
    z-index:2;
    border-radius:1px;
    padding-top: 40px;
    box-shadow: 10px 10px 10px 10px grey;

}

.contact input {
    
    height: 58px;
    width: 800px;
    margin:0 auto;
    display:block;
    border-radius:0.5rem;
    border:0.5px solid #444953;
    background-color:#F3F4F6;
    padding: 16px;
    margin: 8px;
}

.contact label{
    text-align:end;
    margin: 10px;
    color:#444953;
    font-size:16px;
}


.contact textarea{
    width: 800px;
    height: 150px;
    margin:0 auto;
    display:block;
    border-radius:10px;
    border:0.5px solid #444953;
    background-color:#F3F4F6;
    padding: 16px;
    margin: 8px;
}

input:focus{
    outline:none;
}
textarea:focus{
    outline:none;
}

.sp{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin-right: 80px;
}

.sp input{
    width: 13px;
    height: 13px;
}
.contact button{
   width: 800px;
   height: 40px;
   padding: 8px 10px;
   font-size: 16px;
    background-color: #1FBADF;
    color: white;
    border: none;
    border-radius: 9px;
    cursor: pointer;
    margin: 8px;
}



@media screen and (max-width:1050px){
    .contact{
        width:auto;
        margin-left:auto;
        height:auto;
        background-color:#FFFF;
        margin-top:-4rem;
        padding-top: auto;
        
    }
   
  
  
}